.container {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
  height: 55px;
  font-size: var(--font-size-12);
  box-shadow: 0 -1px 2px var(--shadow-color);
  background: var(--secondary-color);
}

.container > span {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container > span > span:first-child {
  font-size: var(--font-size-18);
  margin-bottom: 2px;
}

@media (min-width: 577px) {
  .container {
    display: none;
  }
}
