.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
  flex-flow: row;
  align-items: center;
  box-shadow: 0 1px 3px var(--shadow-color);
  z-index: 4;
  background: var(--secondary-color);
}

.name {
  font-family: var(--dancing-script);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-bold);
  padding-left: 20px;
  padding-right: 20px;
}

.hamburger {
  margin-right: 15px;
}

.menuItem {
  display: none;
}

@media (min-width: 577px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .name {
    font-size: var(--font-size-22);
    flex-grow: 1;
    min-width: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hamburger {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .menuItem {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .menuItem > span {
    padding-left: 12px;
    padding-right: 1px;
  }

  .menu > span > span:first-child {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (min-width: 769px) {
  .container {
    height: 64px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .left {
    flex-grow: 1;
    min-width: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .name {
    flex-grow: 1;
    white-space: nowrap;
    padding-right: 20px;
    min-width: 10px;
  }

  .hamburger {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .menu {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-flow: row;
  }

  .menu > span {
    padding-left: 14px;
    padding-right: 14px;
  }

  .menu > span > span:first-child {
    padding-left: 12px;
    padding-right: 12px;
  }
}
