.arrow {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 25px solid rgba(202, 199, 199, 0.3);
  box-shadow: 0 1px 1px var(--shadow-color);
  cursor: pointer;
}

.arrow:hover {
  border-bottom: 25px solid rgba(202, 199, 199, 0.4);
}
