.container {
  width: 100%;
  font-weight: var(--font-weight-semi);
  padding: 25px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: var(--font-size-14);
  flex-shrink: 0;
}

@media (min-width: 577px) {
  .container {
    font-size: var(--font-size-16);
    padding: 25px 10%;
  }
}

@media (min-width: 769px) {
  .container {
    padding: 40px 10%;
  }
}
