.container {
  color: var(--third-color);
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.map {
  margin-top: 40px;
  margin-bottom: 40px;
}

.map > iframe {
  border: 0;
  width: 100%;
  height: 40vw;
}

.btn {
  padding: 9px 28px;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact,
.address {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.address address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-style: normal;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact > span:first-child,
.address > span:first-child,
.hours > span:first-child {
  margin-bottom: 1rem;
}

.address > a,
.contact > a {
  display: flex;
  margin-bottom: 1rem;
}

.contact > span:first-child,
.address > span:first-child,
.hours > span {
  color: var(--primary-color);
}

.hours th {
  font-weight: var(--font-weight-regular);
}

@media (min-width: 993px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .map {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
