.container {
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallerySlider {
  width: 100%;
  margin-top: 40px;
}

.galleryImages {
  display: none;
}

.more {
  margin-top: 40px;
  text-decoration: underline;
}

@media (min-width: 993px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .gallerySlider {
    display: none;
  }

  .galleryImages {
    display: block;
    width: 100%;
    margin-top: 60px;
  }

  .more {
    margin-top: 60px;
  }
}
