.container {
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-family: var(--dancing-script);
  font-weight: var(--font-weight-bold);
  margin-bottom: 40px;
}

.gallerySlider {
  width: 100%;
}

.galleryImages {
  display: none;
}

.more {
  margin-top: 40px;
  text-decoration: underline;
}

@media (min-width: 993px) {
  .gallerySlider {
    display: none;
  }

  .galleryImages {
    display: block;
    width: 100%;
  }
}
