@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root {
  /* colors */
  --primary-color: rgba(25, 150, 190, 1);
  --primary-color-light: rgba(25, 150, 190, 0.5);
  --secondary-color: rgb(255, 255, 255);
  --third-color: rgb(10, 10, 10);
  --quote-color: rgb(181, 181, 181);
  --quote-border: rgba(181, 181, 181, 0.4);
  --return-top-color: rgba(40, 82, 107, 0.881);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --quote-bg: rgba(82, 82, 82, 0.329);

  /* font families */
  --dancing-script: 'Dancing Script', cursive;
  --open-sans: 'Open Sans', sans-serif;

  /* font sizes */
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-32: 32px;
  --font-size-22: 22px;
  --font-size-56: 56px;

  /* font weights */
  --font-weight-regular: 400;
  --font-weight-semi: 600;
  --font-weight-bold: 700;

  /* font styles */
  --font-italic: italic;

  /* navbar/footer heights */
  --nav-footer-height-70: 70px;
  --nav-footer-height-64: 64px;

  /* box shadows */
  --inner-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.25);
  --inner-shadow-hover: 0 0 5px 2px rgba(44, 92, 121, 0.8),
    inset 0 0 5px 2px rgba(44, 92, 121, 0.4);
  --page-shadow: 4px -2px 4px rgba(0, 0, 0, 0.25);

  /* slide images */
  --slide-img-width: calc(100vw - 18px * 2);
  --slide-img-width-577: 60vw;
  --slide-img-width-769: 55vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: var(--open-sans);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-16);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  /* test */
  height: 100%;
}

img {
  width: 100%;
}

picture {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  border-style: hidden;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 12px 16px;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.clickable {
  cursor: pointer;
}

.zoom-in {
  cursor: zoom-in;
}

.zoom-out {
  cursor: zoom-out;
}

.active {
  text-decoration: underline var(--warning-color);
  text-decoration-thickness: 2px;
}

@media (min-width: 577px) {
  .active {
    text-decoration-thickness: 3px;
  }
}

/* CONTAINER */
.container {
  position: relative;
  z-index: 1;
  text-align: justify;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 72px 8px 72px;
  width: 100%;
}

@media (min-width: 577px) {
  .main-content-container {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 72px;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .main-content-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 64px;
  }
}

@media (min-width: 1080px) {
  .main-content-container {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    align-items: center;
    align-self: center;
  }
}

.section-title {
  font-family: var(--dancing-script);
  color: var(--primary-color);
  font-weight: var(--font-weight-bold) p;
  text-align: center;
  font-size: var(--font-size-18);
}

@media (min-width: 993px) {
  .section-title {
    font-size: 20px;
  }
}

/* UNIVERSAL */
/* BACKGROUND IMAGE */
.bg-img-styles {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font-weight-regular {
  font-weight: var(--font-weight-regular);
}

.font-weight-semi {
  font-weight: var(--font-weight-semi);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

/* TEXT ALIGN */
.text-align-center {
  text-align: center;
}

/* TEXT DEC */
.text-underline {
  text-decoration: underline;
}

/* MARGINS */
.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}
